@page "/weather-forecast"
@using System.Net.Http.Json

<h1>Weather Forecast</h1>

<form>
    <label for="location">Location:</label>
    <input type="text" id="location" @bind-value="location" />
    <button type="button" @onclick="GetWeatherData">Get Weather Data</button>
</form>

@if (weatherData != null)
{
    var data = weatherData.data; // create an object reference to access the data field
    <h2>Location: @data[0].weather[0].description</h2>
    <p></p>
    <p>Temperature: @data[0].temp</p>
    <p>Feels like: @data[0].feels_like</p>
    <p>Humidity: @data[0].humidity</p>
}

@code {
    private string location;
    private WeatherData weatherData;

    private async Task GetWeatherData()
    {
        var httpClient = new HttpClient();
        var response = await httpClient.GetFromJsonAsync<WeatherData>($"https://api.openweathermap.org/data/2.5/weather?q={location}&appid=cad399f8c9bd0cf7be08664122839379&units=metric");
        weatherData = response;
    }

   

    private class Weather
    {
        public string description { get; set; }
    }

    private class Main
    {
        public double temp { get; set; }
        public double feels_like { get; set; }
        public int humidity { get; set; }
    }
}

